GOOGLE_SPREADSHEET_ID=1zSV7VfxVpT9U1G3RekCwB_GU54j4o3N_onbr3Q9yF4g
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GCP_PROJECT_ID=oasis-parfum-505412
GCP_PROJECT_NUMBER=1032833124356
GCP_WORKLOAD_IDENTITY_POOL_ID=vercel
GCP_WORKLOAD_IDENTITY_POOL_PROVIDER_ID=vercel
SESSION_SECRET=
ADMIN_INITIAL_PASSWORD=
WHATSAPP_NUMBER=
